.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  background-color: #1976d2;

  span {
    color: #ffffff;
  }
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
